<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/form.css">
    <link rel="icon" href="/static/studyfox-logo.png">
  </head>
  <body>
    <div class="login-container">
      <div class="heading-container">
        <img src="/static/studyfox-logo.png" width="50%" height="50%" alt="Logo" />
        <div class="title">
          <h1>Login</h1>
          Keinen Account? <a href="/register">Registrieren</a>
        </div>
      </div>
      <div class="separator"></div>
      <form action="/login" method="post">
        <label for="username">Nutzername</label>
        <input type="text" class="{%if error == 'username'%}error{%endif%}" id="username" name="username" required>

        <label for="password">Passwort</label>
        <div class="password-container">
            <input type="password" id="password" class="{%if error == 'username'%}error{%endif%}" name="password" required autocomplete="off"/>
            <img id="showPassword" src="/static/visibility_off.svg" class="icon" onclick="togglePasswordVisibility()">
        </div>

        <button class="button" type="submit">Login</button>
      </form>
    </div>
  <script>
    showPasIcon = document.getElementById('showPassword');
    password = document.getElementById('password');

    showPasIcon.addEventListener('click', function() {
      if (password.type === 'password') {
        password.type = 'text';
        showPasIcon.src = '/static/visibility.svg';
      } else {
        password.type = 'password';
        showPasIcon.src = '/static/visibility_off.svg';
      }
    });
  </script>
  </body>
</html>