<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/form.css">
  </head>
  <body>
    <div class="login-container">
      <div class="heading-container">
        <img src="/static/studyfox-logo.png" width="50%" height="50%" alt="Logo" />
        <div class="title">
          <h1>Login</h1>
          Keinen Account? <a href="/register">Registrieren</a>
        </div>
      </div>
      <div class="separator"></div>
      <form action="/login" method="post">
        <label for="username">Nutzername</label>
        <input type="text" class="{%if error == 'username'%}error{%endif%}" id="username" name="username" required>

        <label for="password">Passwort</label>
        <input type="password" class="{%if error == 'password'%}error{%endif%}" id="password" name="password" required>

        <button class="button" type="submit">Login</button>
      </form>
    </div>
  </body>
</html>